<%= form_for trip do |f| %>
  <% if trip.errors.any?  %>
    <% trip.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: 'Scheduler Notification', sticky: false)  %>
    <% end %>
  <% end %>
  <% time = next_time_needed(trip) %>
  <% if time == :signature %>
    <canvas id="canvas"></canvas>
  <% end %>
  <div class="row">
    <div class='col'>
      <div class="row mt-5">
        <div class="form-group">
          <%= f.label time %>
          <%= f.time_select time, ampm: true, include_blank: true, class:"form-control"%>
        </div>
      </div>
      <div class="row mt-3">
        <%= f.submit 'Save', class: 'btn btn-primary btn-block mt-3' %>
      </div>
    </div>
  </div>
<% end %>
