 <% trips.each do |trip| %>
  <tr>
    <td>
      <%= trip.full_name %>
    </td>
    <td>
      <%= link_to(trip.pickup_address, build_url(trip, 'pickup'), target: :_blank) %>
    </td>
    <td>
      <%= link_to(trip.delivery_address, build_url(trip, 'delivery'), target: :_blank) %>
    </td>
    <td>
      <%= trip.phone_number %>
    </td>
    <td>
      <%= trip.scheduled_pickup_time.to_s.empty? ? "Not Scheduled" : trip.scheduled_pickup_time.to_s(:time) %>
    </td>
    <td>
      <%= trip.appointment_time %>
    </td>
    <td>
      <%= trip.vehicle_type %>
    </td>
    <td>
      <%= trip.mileage %>
    </td>
    <td>
      <%= link_to octicon("report", height: 24), trip_path(trip), data: {toggle:"tooltip", placement:'left', title: trip.has_notes, html:true}, class: 'index-note-icon', id: "note_button_#{trip.id}" if trip.has_notes %>
    </td>
    <td>
      <%= link_to octicon("pencil", height: 24), edit_trip_path(trip), class: 'index-edit-icon', id: "edit_button_#{trip.id}" if policy(trip).update? %>
    </td>
  </tr>
<% end %>
