<div class="row">
  <% trips.each do |trip| %>
    <% next unless trip.scheduled? %>
    <div class="col-sm-3 mb-2">
      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">
            <%= trip.full_name %>
          </h4>
          <h5 class="card-subtitle mb-2">
            <%= trip.scheduled_pickup_time.blank? ? 'Time Not Entered' : trip.scheduled_pickup_time.to_s(:time) %>
          </h5>
          <p class="card-text">
            <div>
              <%= trip.pickup_address %>
            </div>
            <div class='mt-3'>
              <%= trip.delivery_address %>
            </div>
            <div>
            </div>
            <% unless trip.appointment_time.blank? %>
              <div>
                Appointment: <%= trip.appointment_time %>
              </div>
            </p>
          <% end  %>
          <%= link_to 'Enter Time', edit_trip_path(trip), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
