<%= form_for @trip do |f| %>
  <% if @trip.errors.any?  %>
    <% @trip.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: 'Scheduler Notification', sticky: false)  %>
    <% end %>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col">
        <%= f.text_field :provider, type:"text", class:"form-control", placeholder: 'Provider' %>
      </div>
      <div class="col">
        <%= f.text_field :provider_status, type:"text", class:"form-control", placeholder: 'Provider Status' %>
      </div>
      <div class="col">
        <%= f.text_field :trip_number, type:"text", class:"form-control", placeholder: 'Trip Number' %>
      </div>
      <div class="col">
        <%= f.text_field :reason_code, type:"text", class:"form-control", placeholder: 'Reason Code' %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <%= f.text_field :first_name, type:"text", class:"form-control", placeholder: 'First Name' %>
      </div>
      <div class="col">
        <%= f.text_field :last_name, type:"text", class:"form-control", placeholder: 'Last Name' %>
      </div>
      <div class="col">
        <%= f.text_field :phone_number, type:"text", class:"form-control", placeholder: 'Phone Number' %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <%= f.text_field :pickup_address, type:"text", class:"form-control", placeholder: 'Pick Up Address' %>
      </div>
      <div class="col">
        <%= f.text_field :pickup_city, type:"text", class:"form-control", placeholder: 'Pick Up City' %>
      </div>
      <div class="col">
        <%= f.text_field :pickup_zip, type:"text", class:"form-control", placeholder: 'Pick Up Zip' %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <%= f.text_field :delivery_address, type:"text", class:"form-control", placeholder: 'Drop Off Address' %>
      </div>
      <div class="col">
        <%= f.text_field :delivery_city, type:"text", class:"form-control", placeholder: 'Drop Off City' %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <%= f.text_field :appointment_date, type:"text", class:"form-control", placeholder: 'Appointment Date' %>
      </div>
      <div class="col">
        <%= f.text_field :appointment_time, type:"text", class:"form-control", placeholder: 'Appointment Time' %>
      </div>
      <div class="col">
        <%= f.text_field :vehicle_type, type:"text", class:"form-control", placeholder: 'Vehicle Type' %>
      </div>
      <div class="col">
        <%= f.text_field :trip_type, type:"text", class:"form-control", placeholder: 'Trip Type' %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <%= f.text_field :additional_passengers, type:"text", class:"form-control", placeholder: 'Additional Passengers' %>
      </div>
      <div class="col">
        <%= f.text_field :additional_appointments, type:"text", class:"form-control", placeholder: 'Additional Appointments' %>
      </div>
      <div class="col">
        <%= f.number_field :mileage, type:"text", class:"form-control", placeholder: 'Mileage' %>
      </div>
      <div class="col">
        <%= f.number_field :cost, type:"text", class:"form-control", placeholder: 'Cost' %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col form-group">
        <%= f.label :scheduled_pickup %>
        <%= f.time_select :scheduled_pickup, minute_step: 5, class:"form-control" %>
      </div>
      <div class="col form-group">
        <%= f.label :actual_pickup_time %>
        <%= f.time_select :actual_pickup_time, class:"form-control"%>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col form-group">
        <%= f.label :departure_time %>
        <%= f.time_select :departure_time, class:"form-control" %>
      </div>
      <div class="col form-group">
        <%= f.label :actual_dropoff_time %>
        <%= f.time_select :actual_dropoff_time, class:"form-control" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <%= f.collection_select :user_id, User.order(:first_name), :id, :first_name, include_blank: true, class:"form-control" %>
      </div>
      <div class="col">
        <%= f.collection_select :vehicle_id, Vehicle.order(:vehicle_number), :id, :vehicle_number, include_blank: true, class:"form-control" %>
      </div>
      <div class="col">
        <%= f.select :signature_type, ['M', 'P', 'C'], include_blank: true, class:"form-control" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <%= f.text_area :special_needs, type:"text", class:"form-control", placeholder: 'Special Needs' %>
      </div>
      <div class="col">
        <%= f.text_area :instructions, type:"text", class:"form-control", placeholder: 'Additional Instructions' %>
      </div>
    </div>
    <% if current_user.role.include?('dispatch') || @trip.status == 'scheduled' %>
      <%= render partial: 'status', locals: { f: f } %>
    <% end %>
    <div class="row mt-3">
      <div class="col">
        <%= f.submit 'Save', class: 'btn btn-primary btn-block mt-3' %>
      </div>
    </div>
  </div>
<% end %>
