<tr>
  <td>
    <%= trip.full_name %>
  </td>
  <td>
    <%= trip.pickup_address %>
  </td>
  <td>
    <%= trip.delivery_address %>
  </td>
  <td>
    <%= trip.phone_number %>
  </td>
  <td>
    Scheduled Pickup Entry
  </td>
  <td>
    <%= trip.appointment_time %>
  </td>
  <td>
    <%= trip.vehicle_type %>
  </td>
  <td>
    <%= trip.reason_code %>
  </td>
  <td>
    <%= trip.mileage %>
  </td>
  <td>
    <%= trip.instructions %>
  </td>
  <td>
    Notes Entry
  </td>
  <td>
    <%= trip.trip_number %>
  </td>
  <td>
    <%= link_to 'Edit', edit_trip_path(trip), id: "trip_#{trip.id}" %>
  </td>
</tr>
