<ul class="nav nav-tabs nav-justified mt-4">
  <li class="nav-item">
    <%= link_to 'Home', root_path, class: active?(root_path) %>
  </li>
  <li class="nav-item">
    <%= link_to 'Trips', trips_path, class: active?(trips_path) %>
  </li>
  <% if current_user.role.include?('dispatch') %>
    <li class="nav-item">
      <%= link_to 'Add New Trip', new_trip_path, id: 'new_trip_from_nav', class: active?(new_trip_path) %>
    </li>
  <% end  %>
  <li class="nav-item">
    <%= link_to 'Enter Trip Time', enter_time_trips_path, class: active?(enter_time_trips_path) %>
  </li>
  <li class="nav-item">
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
  </li>
</ul>
