<ul class="nav nav-tabs mt-4">
  <li class="nav-item">
    <%= link_to 'Home', root_path, class: active?(root_path) %>
  </li>
  <li class="nav-item">
    <%= link_to 'Trips', trips_path, class: active?(trips_path) %>
  </li>
  <li class="nav-item">
    <%= link_to 'Schedules', root_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Add New Trip', new_trip_path, id: 'new_trip_from_nav', class: active?(new_trip_path) %>
  </li>
  <li class="nav-item dropdown ml-md-auto">
    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Actions</a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
      <%= link_to 'Account', edit_user_registration_path, class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </li>
</ul>
