<tr>
  <td>
    <%= mtm_trip.full_name %>
  </td>
  <td>
    <%= mtm_trip.pickup_address %>
  </td>
  <td>
    <%= mtm_trip.delivery_address %>
  </td>
  <td>
    <%= mtm_trip.phone_number %>
  </td>
  <td>
    Scheduled Pickup Entry
  </td>
  <td>
    <%= mtm_trip.appointment_time %>
  </td>
  <td>
    <%= mtm_trip.vehicle_type %>
  </td>
  <td>
    <%= mtm_trip.reason_code %>
  </td>
  <td>
    <%= mtm_trip.trip_mileage %>
  </td>
  <td>
    <%= mtm_trip.instructions %>
  </td>
  <td>
    Notes Entry
  </td>
  <td>
    <%= mtm_trip.trip_number %>
  </td>
</tr>
